*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1faee;
}
.app--counter{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app--counter-info{
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.app--counter-btns{
    margin-top: 30px;
}
.app--counter-btns button{
    width: 140px;
    border-radius: 8px;
}

.app--counter-btns button.btn--increment{
    padding: 10px;
    margin: 10px;
    background-color: green;
    border:1px solid white ;
    color:white;
    transition: 0.5s;
}

.app--counter-btns button.btn--increment:hover{
    cursor: pointer;
    border:1px solid green;
    background-color: white;
    color:green
}

.app--counter-btns button.btn--decrement{
    padding: 10px;
    margin: 10px;
    background-color: red;
    border:1px solid white ;
    color:white;
    transition: 0.5s;
}

.app--counter-btns button.btn--decrement:hover{
    cursor: pointer;
    border:1px solid red;
    background-color: white;
    color:red
}
.app--counter-btns button.btn--reset{
    padding: 10px;
    margin: 10px;
    background-color: skyblue;
    border:1px solid white ;
    color:white;
    transition: 0.4s;
}

.app--counter-btns button.btn--reset:hover{
    cursor: pointer;
    border:1px solid skyblue;
    background-color: white;
    color:skyblue
}